<div class="container">
    <form [formGroup]="form" novalidate>
        <div class="row">
            <div class="col-sm-12">
                <div class="invoice-title">
                    <h2>Invoice</h2>
                    <h3 class="pull-right">Order # 12345</h3>
                </div>
                <hr>


                <div class="row">
                    <div class="col-sm-6">
                        <address>
        <strong>Billed To:</strong><br>
        <input class="form-control" type="text" placeholder="Nombre" formGroupName='invoiceName'><br>
       
        </address>
                    </div>
                    <div class="col-sm-6 text-right">
                        <address>
          <strong>Shipped To:</strong><br>
          <label>{{ invoice.customer_info.name  }}</label><br>
          <label>{{ invoice.customer_info.address1  }}</label><br>
          <label>{{ invoice.customer_info.postal  }}</label><br>
          <label>{{ invoice.customer_info  }}</label>
        </address>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        <address>
          <strong>Payment Method:</strong><br>
          Visa ending **** 4242<br>
          jsmith@email.com
        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
          <strong>Order Date:</strong><br>
          March 7, 2014<br><br>
        </address>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search Product -->

        <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button (click)="buscar(input.value)" class="btn btn-outline-secondary" type="button">Search Product</button>
            </div>
            <div class="custom-file">
                <input #input (keyup.enter)="buscar(input.value)" type="text" class="form-control" id="inputGroupFile03">
                <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
            </div>
        </div> -->

        <!-- Show the product from Search -->

        <!-- <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Initial Date</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr onchange="producto" *ngFor="let prod of producto">
                    <th scope="row">1</th>
                    <td>{{ prod.id }}</td>
                    <td>{{ prod.nombre }}</td>
                    <td>{{ prod.createAt }}</td>
                    <td>{{ prod.precio }}</td>
                    <td><button type="button" (click)="addItemProd(prod)" class="btn btn-outline-primary btn-sm">add Item</button>
                    </td>
                </tr>
            </tbody>
        </table> -->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>cl</strong></td>
                                        <td><strong>stt</strong></td>
                                        <td><strong>Item</strong></td>
                                        <td class="text-center"><strong>Unit</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-center"><strong>Cost</strong></td>
                                        <td class="text-right"><strong>Totals</strong></td>
                                    </tr>
                                </thead>
                                <tbody formArrayName="invoiceItems2">
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                    <tr *ngFor="let item of invoiceItems3.controls; let i=index; let odd=odd;" [formGroupName]="i" [ngClass]="{odd_row: odd}">
                                        <td><span><button  md-icon-button (click)="removeItem(item)">
                                    <div class="md-24" aria-label="remove">clear</div>
                                    </button> {{i + 1}}. &nbsp;</span></td>
                                        <!-- <td class="text-center"><input class="form-control" mdInput formControlName="stt"></td> -->
                                        <!-- <td class="text-center"><input class="form-control" mdInput formControlName="name"></td> -->
                                        <!-- <td class="text-right"><input class="form-control" mdInput formControlName="unit"></td> -->
                                        <td class="text-right"><input class="form-control" mdInput formControlName="qty"></td>
                                        <!-- <td class="text-right"><input class="form-control" mdInput formControlName="cost"></td> -->
                                        <!-- <td><input class="form-control right_placeholder" mdInput disabled value="{{ item.value.total | currency  }}"></td> -->
                                        <!-- </tr> -->
                                </tbody>
                                <hr>
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                    <!-- <td class="thick-line text-right"><input class="form-control right_placeholder" mdInput disabled value="{{ form.value.subTotal | currency  }}"></td> -->

                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Shipping</strong></td>
                                    <!-- <td class="no-line text-right"><input style="direction: rtl;" mdInput type="number" formControlName="taxPercent" placeholder="% tax"></td> -->
                                    <!-- <td><input class="form-control right_placeholder" mdInput disabled value="{{ form.value.tax | currency  }}"></td> -->
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Total</strong></td>
                                    <!-- <input class="form-control right_placeholder" mdInput disabled value="{{ form.value.grantTotal | currency  }}"> -->
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <button md-mini-fab (click)="addItem()" class="md-small">+</button>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">

                    <button type="button" class="btn btn-outline-primary">Save</button>
                </div>
            </div>
        </div>
    </form>

</div>